div
{
    border: 2px dashed #0ece0e ;
    margin: 10px 25px ;
    padding: 25px;
    background-color: rgba(0, 0, 255, 0.8);
    border-radius: 15px;
    box-shadow: 4px 6px rgba(175, 123, 44, 0.8);
}
img
{
    float: left;
    width: 160px;
    border-radius: 30%;

}
.cvPrincipal{
    text-align: center;
    font-family: "Oswald", sans-serif;
    background: linear-gradient(to left, yellow,yellowgreen)}
#nombrePersona
{
    text-shadow: 2px 3px #ff0000;
}